<html>
	<style>
		body{ 
		  font-size: 15pt;
		  font-family: arial;
		}
	</style>
	
	<link href="/static/css/materialize.css" rel="stylesheet">

	<body>
		<h1> Movie Recommendation </h1>
		<input id="subbox" type="text" onkeypress="clickthis(event, this)" placeholder="Search Movie" required>
	  	<input id="searchbutton" type="button" onclick="searchthis()" value="Search">
	</body>

	<script>
		var searchthis = function() {
		    var search = document.getElementById('subbox').value;
		    console.log(search);
		    var searchEncoded = encodeURIComponent(search);
		    if(search != "") {
		      window.location = "search/" + searchEncoded;
		    }
		}
		var clickthis = function(e,search) {
		  if (e.keyCode == 13) {
		    var searchEncoded = encodeURIComponent(search.value);
		    if(search.value != "") {
		      window.location = "search/" + searchEncoded;
		    }
		  }
		}
	</script>

</html>
